/*general*/

:root {
  --primary-color: #010101;
  --secondary-color: #f65282;
  --background-color: #f9f7fe;
  --highlight-color: #ffd0ae;
  --hover-color: #ff6347;
  --font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--primary-color);
  background-color: var(--background-color);
}
header {
  padding: 20px;
  text-align: center;
  min-height: 100vh;
}
section {
  min-height: 100vh;
}

.highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #ffd0ae 65%);
}
.section-content,
.section-content-about,
.section-content-skills {
  margin: auto;
  padding: 20px;
  text-align: center;
}
.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 1px 1px 1.5px #959090;
}
.section-description {
  font-size: 22px;
  line-height: 1.4em;
}
.section-content-about {
  max-width: none;
}
.section-content-skills {
  max-width: none;
  text-align: start;
}

/* horizontal menu */

.menu-container {
  display: flex;
  position: fixed;
  width: 100%; /* Ocupa toda a largura disponível */
  text-align: center; /* Centraliza os itens horizontalmente */
}

.horizontal-menu {
  list-style-type: none;
  font-size: 13px;
  display: flex;
  gap: 35px;
  margin: 0 auto;
  padding: 0;
}

.horizontal-menu li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #363232;
  position: relative;
}
.horizontal-menu li a:hover::before {
  content: "(";
  color: var(--highlight-color);
  position: absolute;
  left: 5px;
}
.horizontal-menu li a:hover::after {
  content: ")";
  color: var(--highlight-color);
  position: absolute;
  right: 5px;
}

/*my info*/

.my-info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 180px 30px 10px 30px;
}

.title {
  font-size: 25px;
}
.subtitle {
  font-size: 60px;
}
.resume {
  font-size: 16px;
  font-weight: 300;
}

/*social*/

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px; /* Espaço entre os ícones */
  margin-top: 20px;
}

.social-icons i {
  font-size: 24px; /* Tamanho dos ícones */
  color: #000; /* Cor dos ícones */
  transition: color 0.3s; /* Transição suave para hover */
}

.social-icons i:hover {
  color: #0077b5; /* Cor do ícone ao passar o mouse */
}

.social-icons i.fa-linkedin:hover {
  color: #3b5998;
}

.social-icons i.fa-github:hover {
  color: #404040;
}

.social-icons i.fa-instagram:hover {
  color: #e1306c;
}

.social-icons i.fa-twitter:hover {
  color: #1da1f2;
}

.social-icons i.fa-whatsapp:hover {
  color: #25d366;
}

.social-icons i.fa-file-alt:hover {
  color: #ff5722;
}

/*download cv button*/

.contact-me {
  display: flex;
  margin-top: 60px;
}

button {
  background: #222222;
  padding: 14px 16px;
  border: none;
  font-size: 11px;
  margin: 60px auto;
  border-radius: 60px;
  box-shadow: 0 30px 50px rgba(55, 50, 68, 0.08);
  color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}

/*skills*/

.graduation,
.certification,
.skill {
  margin: 30px 30px;
}

.graduation {
  padding-top: 40px;
}

.graduation-types {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}

a.shecodes {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 400;
}

.certificates-container {
  display: flex;
  justify-content: space-evenly; /* Distribui os certificados igualmente */
  align-items: center; /* Centraliza verticalmente os itens */
  margin: 0 300px; /* Espaço entre os certificados */
}

.certificate {
  text-align: center; /* Centraliza o conteúdo dentro do bloco */
  margin-bottom: 20px; /* Espaço entre os certificados */
}

.certificate img {
  max-width: 100%; /* Imagens ocupam no máximo a largura do container */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 8px; /* Borda arredondada para efeito visual */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave para efeito de elevação */
  max-height: 150px; /* Altura máxima das imagens (ajuste conforme necessário) */
}

.certificate a {
  text-decoration: none;
  color: #333; /* Cor do texto do link */
}

.certificate a:hover {
  opacity: 0.8; /* Opacidade reduzida ao passar o mouse para indicar interatividade */
}

/* competences */

.competences {
  display: flex;
  justify-content: center;
  gap: 15px; /* Espaço entre os ícones */
  margin: 40px;
}

.competences i {
  font-size: 30px; /* Tamanho dos ícones */
}

.competences img {
  width: 30px; /* Tamanho dos ícones */
}

.card-techs i {
  margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}

.fa-html5 {
  color: #e34c26; /* Cor do ícone HTML */
}

.fa-css3-alt {
  color: #1572b6; /* Cor do ícone CSS */
}

.fa-git-alt {
  color: #f05032; /* Cor do ícone Git */
}

/* projects */

.section-content {
  margin-top: 60px;
}

.my-projects {
  padding-top: 40px;
  margin: 30px 30px;
  font-size: 16px;
  font-weight: 400;
}

.container-projects {
  margin: 30px;
  padding: 40px 40px;
}

.project-cards {
  display: flex;
  justify-content: center; /* Centraliza os cards horizontalmente */
}

.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: #ffffff;
  border: 1.7px solid #dadada;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px;
  width: 150px;
  height: 200px;
  overflow: hidden;
}

.project-image-general {
  max-width: 100%; /* Garante que a imagem não estique além do seu tamanho original */
  max-height: 100%; /* Garante que a imagem não estique além do seu tamanho original */
  object-fit: contain; /* Mantém a proporção da imagem */
}

.project-image-2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Garante que o contêiner ocupe toda a altura do .cards */
}

.project-image-2 {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

h2.title-card {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px; /* Espaço entre a imagem e o título */
  cursor: pointer; /* Adiciona o cursor de ponteiro para indicar que é clicável */
}

.project-image {
  animation: spin 60s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Início da animação: sem rotação */
  }
  to {
    transform: rotate(
      360deg
    ); /* Fim da animação: rotação completa de 360 graus */
  }
}

.project-image-2 {
  animation: swing 5s ease-in-out infinite;
}

@keyframes swing {
  0%,
  100% {
    transform: rotate(0deg); /* Estado inicial e final: sem rotação */
  }
  50% {
    transform: rotate(10deg); /* Meio da animação: rotação de 10 graus */
  }
}

.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  display: none; /* Inicialmente oculto */
}

.cards.show-back .card-back {
  display: flex; /* Mostra o card-back quando a classe show-back é adicionada */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: scale(1);
}

.cards.show-back .project-image,
.cards.show-back .title-card {
  opacity: 0; /* Oculta a imagem e o título original quando a classe show-back é adicionada */
}

.card-back p,
.card-techs {
  font-size: 14px;
  color: #333;
  text-align: center;
  margin: 10px 0;
}
