/*general*/

:root {
  --primary-color: #010101;
  --secondary-color: #f65282;
  --background-color: #f9f7fe;
  --highlight-color: #ffd0ae;
  --hover-color: #ff6347;
  --font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--primary-color);
  background-color: var(--background-color);
}
header {
  padding: 20px;
  text-align: center;
  min-height: 100vh;
}
section {
  min-height: 100vh;
}

.highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #ffd0ae 65%);
}
.section-content,
.section-content-about,
.section-content-skills {
  margin: auto;
  padding: 20px;
  text-align: center;
  max-width: 700px;
}
.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 1px 1px 1.5px #959090;
}
.section-description {
  font-size: 22px;
  line-height: 1.4em;
}
.section-content-about {
  max-width: none;
}
.section-content-skills {
  max-width: none;
  text-align: start;
}

/* horizontal menu */

.menu-container {
  display: flex;
  position: fixed;
  width: 100%; /* Ocupa toda a largura disponível */
  text-align: center; /* Centraliza os itens horizontalmente */
}

.horizontal-menu {
  list-style-type: none;
  font-size: 13px;
  display: flex;
  gap: 35px;
  margin: 0 auto;
  padding: 0;
}

.horizontal-menu li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #363232;
  position: relative;
}
.horizontal-menu li a:hover::before {
  content: "(";
  color: var(--highlight-color);
  position: absolute;
  left: 5px;
}
.horizontal-menu li a:hover::after {
  content: ")";
  color: var(--highlight-color);
  position: absolute;
  right: 5px;
}

/*my info*/

.my-info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 180px 30px 10px 30px;
}

.title {
  font-size: 25px;
}
.subtitle {
  font-size: 60px;
}
.resume {
  font-size: 16px;
  font-weight: 300;
}

/*social*/

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px; /* Espaço entre os ícones */
  margin-top: 20px;
}

.social-icons i {
  font-size: 24px; /* Tamanho dos ícones */
  color: #000; /* Cor dos ícones */
  transition: color 0.3s; /* Transição suave para hover */
}

.social-icons i:hover {
  color: #0077b5; /* Cor do ícone ao passar o mouse */
}

.social-icons i.fa-linkedin:hover {
  color: #3b5998;
}

.social-icons i.fa-github:hover {
  color: #404040;
}

.social-icons i.fa-instagram:hover {
  color: #e1306c;
}

.social-icons i.fa-twitter:hover {
  color: #1da1f2;
}

.social-icons i.fa-whatsapp:hover {
  color: #25d366;
}

.social-icons i.fa-file-alt:hover {
  color: #ff5722;
}

/*download cv button*/

.contact-me {
  display: flex;
  margin-top: 60px;
}

button {
  background: #222222;
  padding: 14px 16px;
  border: none;
  font-size: 11px;
  margin: 60px auto;
  border-radius: 60px;
  box-shadow: 0 30px 50px rgba(55, 50, 68, 0.08);
  color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}

/*skills*/

.graduation,
.certification,
.skill {
  margin: 30px 30px;
}

.graduation {
  padding-top: 40px;
}

.graduation-me {
  font-size: 18px;
}

.graduation-types {
  font-size: 14px;
  font-weight: 300;
}

a {
  color: #e1306c;
  text-decoration: none;
  font-weight: 400;
}

.certificates-container {
  display: flex;
  justify-content: space-evenly; /* Distribui os certificados igualmente */
  align-items: center; /* Centraliza verticalmente os itens */
  margin-top: 30px; /* Espaço acima dos certificados */
}

.certificate {
  text-align: center; /* Centraliza o conteúdo dentro do bloco */
  margin-bottom: 20px; /* Espaço entre os certificados */
}

.certificate img {
  max-width: 100%; /* Imagens ocupam no máximo a largura do container */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 8px; /* Borda arredondada para efeito visual */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave para efeito de elevação */
  max-height: 150px; /* Altura máxima das imagens (ajuste conforme necessário) */
}

.certificate a {
  text-decoration: none; /* Remove sublinhado do link */
  color: #333; /* Cor do texto do link */
}

.certificate a:hover {
  opacity: 0.8; /* Opacidade reduzida ao passar o mouse para indicar interatividade */
}

/* skills */

.skills-me {
  display: flex;
  flex-wrap: wrap; /* Permite quebrar linha se necessário */
  justify-content: space-between; /* Espaçamento igual entre os itens */
  gap: 20px; /* Espaçamento entre os itens */
  padding: 20px; /* Espaçamento interno ao redor dos itens */
}

.svg-container {
  display: flex;
  flex: 0 1 100px; /* Flex item não crescerá além de 100px */
  max-width: 100px; /* Tamanho máximo do contêiner */
  height: auto;
}

.svg-container svg {
  width: 100%; /* O SVG ocupará 100% do contêiner pai */
  height: auto;
}

/*ABOUT ME*/

.wrapper-about {
  display: flex;
  flex-wrap: wrap;
  margin: 35px auto;
  justify-content: space-around;
}

.description-about {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.main-about {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 46%;
}

.information-about {
  font-size: 15px;
  border: 1px solid rgba(39, 33, 66, 0.1);
  border-radius: 10px;
  padding: 18px;
  text-align: justify;
  letter-spacing: normal;
  margin-bottom: 10px;
}

h1.my-info {
  line-height: 1.2;
  padding: 10px;
  margin: 10px 0;
  text-align: initial;
}

p.text-myinfo {
  margin: 0;
  line-height: 1.6;
}

.info-hi {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

/*ABOUT ME - ICONS*/

.icons-list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.personal-icon-gen {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li.personal-icon {
  padding-inline: 23px;
}

.mean-icon {
  width: 35px;
  border: 1px solid rgba(39, 33, 66, 0.1);
  border-radius: 50%;
  font-size: 18px;
  background: #ffffff;
  color: var(--secondary-color);
  padding: 5px;
  transition: transform 0.8s;
}

img.mean-icon:hover {
  transform: rotateY(360deg);
}

/* ABOUT ME - gallery*/

.gallery {
  --s: 130px; /* control the size of the images*/

  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  position: relative;
}
.gallery input {
  position: absolute;
  border: 2px solid #000;
  border-radius: 50%;
  inset: calc(50% - var(--s) / 3);
  cursor: pointer;
  --g: linear-gradient(#000 0 0) no-repeat;
  background: var(--g) 50% / var(--b, 0%) 3px, var(--g) 50%/3px var(--b, 0%);
  transition: 1.5s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.gallery > img {
  width: var(--s);
  aspect-ratio: 1;
  object-fit: cover;
  transform: scale(0.1);
  filter: brightness(0);
  pointer-events: none;
  transform-origin: var(--x) var(--y);
  transition: 1s calc((var(--i) - 1) * 0.1s);
}
.gallery > img:nth-of-type(1) {
  --i: 1;
  --x: 150%;
  --y: 150%;
}
.gallery > img:nth-of-type(2) {
  --i: 2;
  --x: 50%;
  --y: 150%;
}
.gallery > img:nth-of-type(3) {
  --i: 3;
  --x: -50%;
  --y: 150%;
}
.gallery > img:nth-of-type(4) {
  --i: 4;
  --x: 150%;
  --y: 50%;
}
.gallery > img:nth-of-type(5) {
  --i: 5;
}
.gallery > img:nth-of-type(6) {
  --i: 6;
  --x: -50%;
  --y: 50%;
}
.gallery > img:nth-of-type(7) {
  --i: 7;
  --x: 150%;
  --y: -50%;
}
.gallery > img:nth-of-type(8) {
  --i: 8;
  --x: 50%;
  --y: -50%;
}
.gallery > img:nth-of-type(9) {
  --i: 9;
  --x: -50%;
  --y: -50%;
}

.gallery > input:checked ~ img {
  transform: scale(1);
  filter: brightness(1);
  pointer-events: initial;
}
.gallery > input:checked {
  transform: translateY(calc(1.75 * var(--s))) scale(0.5) rotate(45deg);
  --b: 70%;
}
