/*general*/

:root {
  --primary-color: #010101;
  --secondary-color: #f65282;
  --background-color: #f9f7fe;
  --highlight-color: #ffd0ae;
  --hover-color: #ff6347;
  --font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--primary-color);
  background-color: var(--background-color);
}
header {
  padding: 20px;
  text-align: center;
  min-height: 100vh;
}
section {
  min-height: 100vh;
}

.highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #ffd0ae 65%);
}
.section-content,
.section-content-about,
.section-content-skills {
  margin: auto;
  padding: 20px;
  text-align: center;
}
.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 1px 1px 1.5px #959090;
}
.section-description {
  font-size: 22px;
  line-height: 1.4em;
}
.section-content-about {
  max-width: none;
}
.section-content-skills {
  max-width: none;
  text-align: start;
}

/* horizontal menu */

.menu-container {
  display: flex;
  position: fixed;
  width: 100%; /* Ocupa toda a largura disponível */
  text-align: center; /* Centraliza os itens horizontalmente */
}

.horizontal-menu {
  list-style-type: none;
  font-size: 13px;
  display: flex;
  gap: 35px;
  margin: 0 auto;
  padding: 0;
}

.horizontal-menu li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #363232;
  position: relative;
}
.horizontal-menu li a:hover::before {
  content: "(";
  color: var(--highlight-color);
  position: absolute;
  left: 5px;
}
.horizontal-menu li a:hover::after {
  content: ")";
  color: var(--highlight-color);
  position: absolute;
  right: 5px;
}

/*my info*/

.my-info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 180px 30px 10px 30px;
}

.title {
  font-size: 25px;
}
.subtitle {
  font-size: 60px;
}
.resume {
  font-size: 16px;
  font-weight: 300;
}

/*social*/

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px; /* Espaço entre os ícones */
  margin-top: 20px;
}

.social-icons i {
  font-size: 24px; /* Tamanho dos ícones */
  color: #000; /* Cor dos ícones */
  transition: color 0.3s; /* Transição suave para hover */
}

.social-icons i:hover {
  color: #0077b5; /* Cor do ícone ao passar o mouse */
}

.social-icons i.fa-linkedin:hover {
  color: #3b5998;
}

.social-icons i.fa-github:hover {
  color: #404040;
}

.social-icons i.fa-instagram:hover {
  color: #e1306c;
}

.social-icons i.fa-twitter:hover {
  color: #1da1f2;
}

.social-icons i.fa-whatsapp:hover {
  color: #25d366;
}

.social-icons i.fa-file-alt:hover {
  color: #ff5722;
}

/*download cv button*/

.contact-me {
  display: flex;
  margin-top: 60px;
}

button.download-cv {
  background: #222222;
  padding: 14px 16px;
  border: none;
  font-size: 11px;
  margin: 60px auto;
  border-radius: 60px;
  box-shadow: 0 30px 50px rgba(55, 50, 68, 0.08);
  color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button.download-cv:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

button.download-cv:hover {
  padding-right: 24px;
  padding-left: 8px;
}

button.download-cv:hover:after {
  opacity: 1;
  right: 10px;
}

/*skills*/

.graduation,
.certification,
.skill {
  margin: 30px 30px;
}

.graduation {
  padding-top: 40px;
}

.graduation-types {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}

a.shecodes {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 400;
}

.certificates-container {
  display: flex;
  justify-content: space-evenly; /* Distribui os certificados igualmente */
  align-items: center; /* Centraliza verticalmente os itens */
  margin: 0 300px; /* Espaço entre os certificados */
}

.certificate {
  text-align: center; /* Centraliza o conteúdo dentro do bloco */
  margin-bottom: 20px; /* Espaço entre os certificados */
}

.certificate img {
  max-width: 100%; /* Imagens ocupam no máximo a largura do container */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 8px; /* Borda arredondada para efeito visual */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave para efeito de elevação */
  max-height: 150px; /* Altura máxima das imagens (ajuste conforme necessário) */
}

.certificate a {
  text-decoration: none;
  color: #333; /* Cor do texto do link */
}

.certificate a:hover {
  opacity: 0.8; /* Opacidade reduzida ao passar o mouse para indicar interatividade */
}

/* competences */

.competences {
  display: flex;
  justify-content: center;
  gap: 15px; /* Espaço entre os ícones */
  margin: 40px;
}

.competences img {
  width: 30px; /* Tamanho dos ícones */
}

/* projects */

.section-content {
  margin-top: 60px;
}

.container-projects {
  margin: 30px;
  padding: 60px 40px;
  display: flex;
}

.apresentation-projects {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 100px 30px;
  padding: 20px;
}

.text-project {
  font-size: 14px;
  font-weight: 300;
}

.title-project {
  font-size: 23px;
  font-weight: 400;
  margin-top: 0;
}

.project-cards {
  display: flex;
  justify-content: center; /* Centraliza os cards horizontalmente */
  margin: 0 auto;
  flex-wrap: wrap; /* Permite que os cards quebrem linha em telas menores */
}

.cards {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 15px;
  background: #ffffff;
  border: 1.44px solid #dadada;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin: 30px;
}

.project-image-general {
  width: 70%; /* Garante que a imagem ocupe a largura completa do container */
  height: 110px; /* Define uma altura fixa para as imagens */
  object-fit: contain; /* Garante que a imagem cubra o container mantendo a proporção */
  padding: 10px;
}

.project-image1 {
  animation: spin 60s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Início da animação: sem rotação */
  }
  to {
    transform: rotate(
      360deg
    ); /* Fim da animação: rotação completa de 360 graus */
  }
}

.project-image-2 {
  animation: swing 5s ease-in-out infinite;
}

@keyframes swing {
  0%,
  100% {
    transform: rotate(0deg); /* Estado inicial e final: sem rotação */
  }
  50% {
    transform: rotate(10deg); /* Meio da animação: rotação de 10 graus */
  }
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title-frame {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.text-frame {
  opacity: 0.5;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
}

.card-contain {
  display: flex;
  justify-content: center; /* Alinha os ícones ao centro */
  gap: 5px; /* Adiciona espaçamento entre os ícones */
  padding: 10px 0;
  margin-bottom: 13px;
}

.icon-contain {
  width: 17px;
  height: 17px;
}

.view-web,
.view-github {
  color: #f8f8f8;
  padding: 10px 10px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  position: relative;
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0 30px 50px rgba(55, 50, 68, 0.08);
  border: none;
  background: #272727;
  margin: 0 auto;
}

.view-web:hover,
.view-github:hover {
  background: #f8f8f8;
  color: #272727;
  box-shadow: 0 30px 50px rgba(55, 50, 68, 0.08);
}

.custom-icon {
  font-size: 14px;
  padding-inline-end: 2px;
}

.fa-globe {
  font-size: 14px;
  padding-inline-end: 2px;
}

.buttons-view {
  display: flex;
  justify-content: center;
  gap: 5px;
}

hr {
  width: 70%; /* Garante que a linha horizontal ocupe toda a largura disponível */
  align-self: center;
  margin: 5px 0; /* Define margem superior e inferior para espaçamento */
  border: none; /* Remove a borda padrão do <hr> */
  border-top: 1px solid #ccc; /* Adiciona uma linha horizontal com cor cinza */
}
